nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;

  button {
    border: 1px solid rgb(40, 40, 40);
    background: transparent;
    padding: 0.5rem;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;

    &:hover {
      background: rgb(40, 40, 40);
      color: white;
    }

    svg {
      padding-left: 0.15rem;
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    button {
      z-index: 10;
    }
  }
}
